 #reloadGame
  	display:none
  	padding:10px 20px
  	background-color:$gameDataBorderColor
  	color: $colorBlack
  	font-weight:bold
  	border:1px solid $colorBlack
  	margin-left:40px
  	cursor:pointer
  	outline-width:0px;